/* @import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@700&display=swap');
@import url('//db.onlinewebfonts.com/c/1938eca97ab5576ba37b537143f552ef?family=adineue+PRO'); */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-font: 'Advent Pro', sans-serif;
}

@font-face {
    font-family: "AdidasFontMain";
    src: url("./fonts/adidas.ttf");
}
li {
    display: inline;
    font-size: 15px;
    font-family: "AdidasFontMain";
    font-weight: 500;
    margin-right: 10px;
}
.icons i{
    margin-left: 10px;
}
.search-sec{
    border: 1px solid black;
    background-color: #ECEFF1;
    padding: 2px 10px;
}
.search-sec input {
    width: 150px;
    border: 0;
    outline: 0;
    background-color: #ECEFF1;
}
.search-sec i{
    font-size: 14px;
}
.navbar-toggler {
    border: none;
    outline: none;
}
.first {
    width: 100vw;
    height: 100vh;
    background-image: url("./images/holy-off-main.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.second {
    width: 100%;
    height: 87vh;
    background-image: url("./images/summer-foot-main.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.first-content {
    top: 30%;
    left: 10%;
    font-family: var(--main-font);
    font-weight: 700;
    color: white;
}
.first-btn {
    background-color: black;
    color: white;
    padding: 10px;
    width: max-content;
    margin-bottom: 10px;
}
.first-btn i{
    margin-left: 10px;
}
.second-content {
    top: 35%;
    left: 10%;
    font-family: var(--main-font);
    font-weight: bold;
}
.popular-sec {
    padding: 30px 0;
    font-family: var(--main-font);
}
.popu-box h1 {
    font-family: "AdidasFontMain";
    font-weight: bold;
}
.popu-box h1:hover {
    border-bottom: 5px solid black;
}
.who-shop-reco-sec{
    font-family: var(--main-font);
    font-weight: 700;  
}

/* /// */

.row-body {
    height: max-content;
    white-space: nowrap;
}
.pro-card {
    min-height: 300px;
    width: 250px;
    margin-right: 10px;
    display: inline-block;
    position: relative;
}
.pro-card-small img {
    width: 100%;
    height: 100%;
}
.pro-card img {
    width: 100%;
    height: 100%;
}
.pro-card-txt {
    width: 100%;
    bottom: 0;
}
.index-card {
    width: 13%;
    margin-right: 10px;
    position: relative;
}
.index-card p{
    padding: 0px;
}
.discover-btn {
    position: absolute;
    border: 1px solid black;
    bottom: 0;
    padding: 10px 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.discover-btn p {
    margin: 0;
    letter-spacing: 5px;
}
/* .fst-card {
    margin-left: ;
} */
.para-row-pro::-webkit-scrollbar{
    display: none;
}

.lg-footer {
    height: 200px;
    width: 100%;
    background-color: white;
}

.lg-footer p{
    margin: 0;
    padding: 0;
    margin-bottom: 5px;
}
.md-footer {
    width: 100%;
    height: 200px;
    background-color: black;
}
.md-footer p {
    color: white;
}
#demo {
    font-family: "AdidasFontMain";
    font-weight: bold;
}

@media (max-width: 960px) {
    .first{
        background-image: url("./images/holy-off-md.jpg");
    }
}